@page "/"
@using BlazorAPI_All_In_One.Models
@using BlazorAPI_All_In_One.Services
@inject IEmployeeService empService;

<PageTitle>Index</PageTitle>

<h1>Employee List:</h1>


@if (@empList == null)
{
	<p>Loading.....</p>
}
else
{

    <div class="table-container">
        <table class="table ">
            <thead class="has-background-light">
                <tr>
                    <th>Date/Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wendnesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>

                @if (empList.Count != 0)
                {
                    @foreach (var order in empList)
                    {
                        <tr>
                            @foreach (var prop in order.GetType().GetProperties())
                            {
                                var type = Nullable.GetUnderlyingType(prop.PropertyType) ?? prop.PropertyType;
                                @if (prop.GetValue(order, null).ToString() != "" )
                                {
                                    string t = @prop.GetValue(order, null).ToString();

                                    <td class="has-background-danger">
                                        <input @bind="@t" />
                                    </td>

                                }
                                else
                                {
                                    <td>
                                      
                                    </td>
                                }

                            }
                        </tr>

                    }
                }


            </tbody>
        </table>
    </div>


}

@code{

	private List<Employee> empList = new List<Employee>();

	protected override async Task OnInitializedAsync(){

		await GetEmployees();

	}

	private async Task GetEmployees(){

		empList = await empService.GetEmployees();
	}
}
