<!--
// Title:            BlazorApiProject
// class:            FetchData.razor
// Author:           Dominik Bregovic
// Email:            dominik.bregovic@edu.fh-joanneum.at
// Semester:         4
// Last Change:      06.10.2022
// Description:      Here our Calendar will get implemented
-->

@page "/fetchdata"

<h3>FetchData</h3>

<p>Here we will implement a Calender</p>

@code {

}
